<qos-form-dialog
  title="Modifier le fournisseur"
  [formGroup]="form"
  [submitting]="submitting"
  [submitDisabled]="form.invalid"
  submitLabel="Enregistrer"
  (submitted)="submit()"
  (cancelled)="cancel()">

    <mat-form-field appearance="outline" class="full">
      <mat-label>Raison sociale</mat-label>
      <input matInput formControlName="name" maxlength="250" required>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline" class="col col-country">
        <mat-label>Pays (ISO-2)</mat-label>
        <input matInput formControlName="countryCode" maxlength="2">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col">
        <mat-label>Type</mat-label>
        <mat-select formControlName="supplierType" required>
          <mat-option *ngFor="let t of types" [value]="t.value">{{ t.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Email contact qualité</mat-label>
      <input matInput formControlName="contactEmail" type="email" maxlength="320">
    </mat-form-field>

</qos-form-dialog>
