<div class="widget-card">
  <header class="widget-head">
    <span class="widget-title">{{ widget.title }}</span>
    <span class="widget-type" [matTooltip]="widget.type">{{ widget.type | uppercase }}</span>
  </header>

  <div class="widget-body">
    <ng-container [ngSwitch]="widget.type">
      <div *ngSwitchCase="'kpi'" class="kpi-block">
        <div class="kpi-value" [class.kpi-breached]="kpiBreached">{{ kpiValue }}</div>
        <div class="kpi-meta">
          <span class="kpi-label">{{ widget.config.kpiLabel || (widget.config.kpiId || '') }}</span>
          <span [ngClass]="trendClass()">{{ trendLabel() }}</span>
        </div>
      </div>

      <div *ngSwitchCase="'narrative'" class="narrative-block">
        <mat-icon class="narrative-icon" aria-hidden="true">auto_awesome</mat-icon>
        <p class="narrative-text">{{ narrative }}</p>
      </div>

      <qos-echart *ngSwitchDefault
                  class="widget-chart"
                  [option]="echartsOptions"
                  [height]="0"
                  [autoResize]="true"
                  (pointSelected)="onPoint($event)"></qos-echart>
    </ng-container>
  </div>
</div>
