<qos-form-dialog
  [title]="isEdit ? 'Modifier la demande' : 'Nouvelle demande de changement'"
  [formGroup]="form"
  [submitting]="submitting"
  [submitDisabled]="form.invalid"
  [submitLabel]="isEdit ? 'Enregistrer' : 'Créer'"
  (submitted)="submit()"
  (cancelled)="cancel()">

  <div class="row">
    <mat-form-field appearance="outline" class="col col-code">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" maxlength="100" required
             placeholder="Ex. : CHG-2026-014">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let t of types" [value]="t.value">{{ t.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col col-prio">
      <mat-label>Priorité</mat-label>
      <mat-select formControlName="priority" required>
        <mat-option *ngFor="let p of priorities" [value]="p">{{ p }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title" maxlength="250" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="3" maxlength="4000"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Date prévue</mat-label>
    <input matInput formControlName="plannedFor" type="date">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Synthèse d'impact</mat-label>
    <textarea matInput formControlName="impactSummary" rows="3" maxlength="2000"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Analyse de risque</mat-label>
    <textarea matInput formControlName="riskAssessment" rows="3" maxlength="2000"></textarea>
  </mat-form-field>

</qos-form-dialog>
