<qos-form-dialog
  i18n-title="@@documents.edit.title"
  title="Modifier le document"
  [formGroup]="form"
  [submitting]="submitting"
  [submitDisabled]="form.invalid"
  (submitted)="submit()"
  (cancelled)="cancel()">

  <mat-form-field appearance="outline" class="full">
    <mat-label i18n="@@common.title">Titre</mat-label>
    <input matInput formControlName="title" maxlength="255" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label i18n="@@common.type">Type</mat-label>
    <mat-select formControlName="type" required>
      <mat-option *ngFor="let t of types" [value]="t.value">{{ t.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label i18n="@@common.description">Description</mat-label>
    <textarea matInput formControlName="description" rows="3"></textarea>
  </mat-form-field>

  <mat-checkbox formControlName="mandatoryRead" i18n="@@documents.edit.mandatory-read">Lecture obligatoire</mat-checkbox>

</qos-form-dialog>
