<section class="remise" role="status" aria-live="polite" data-test="remise">
  <mat-icon class="remise__icone" aria-hidden="true">{{ password ? 'key' : 'mark_email_read' }}</mat-icon>
  <div class="remise__corps">
    <ng-container *ngIf="password; else parEmail">
      <h3 class="remise__titre" i18n="@@admin.credential.title">Transmettez ces identifiants</h3>
      <p class="remise__aide" i18n="@@admin.credential.help">Le mot de passe provisoire n'apparaîtra plus. Il devra être changé à la première connexion.</p>
      <dl class="remise__champs">
        <div><dt i18n="@@admin.credential.login">Identifiant</dt><dd data-test="remise-email">{{ email }}</dd></div>
        <div><dt i18n="@@admin.credential.password">Mot de passe provisoire</dt><dd class="remise__secret" data-test="remise-mdp">{{ password }}</dd></div>
      </dl>
      <div class="remise__boutons">
        <button mat-flat-button color="primary" type="button" (click)="copy()" data-test="remise-copier">
          <mat-icon>{{ copied ? 'check' : 'content_copy' }}</mat-icon>
          <span *ngIf="!copied" i18n="@@admin.credential.copy">Copier</span>
          <span *ngIf="copied" i18n="@@admin.credential.copied">Copié</span>
        </button>
        <button mat-stroked-button type="button" (click)="closed.emit()" data-test="remise-fermer"
                i18n="@@admin.credential.done">C'est transmis</button>
      </div>
    </ng-container>
    <ng-template #parEmail>
      <h3 class="remise__titre" i18n="@@admin.credential.sent-title">Invitation envoyée</h3>
      <p class="remise__aide" i18n="@@admin.credential.sent-help">{{ email // i18n(ph="email") }} reçoit un lien pour choisir son mot de passe.</p>
      <div class="remise__boutons">
        <button mat-stroked-button type="button" (click)="closed.emit()" i18n="@@common.close">Fermer</button>
      </div>
    </ng-template>
  </div>
</section>
